<h1>Listing lists</h1>
 
<table>
  <tr>
    <th>Nombre</th>
    <th>IdiomaNativo</th>
    <th>IdiomaForaneo</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.nombre %></td>
      <td><%= list.idiomaNativo %></td>
      <td><%= list.idiomaForaneo %></td>
      <td><%= link_to 'Show', list_path(list) %></td>
      <td><%= link_to 'Edit', edit_list_path(list) %></td>
      <td><%= link_to 'Delete', list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>

<p>
<%= link_to 'New list', new_list_path %>
</p>
