<div class="dom-body-text paragraph">
<%= link_to "<-- Regresar", "/", :class => "btn btn-mini" %>
<p>
<h1>Mostrando listas de <%= current_user.nombre %>: </h1>
<br />
 
<center>
<table id="listas" class="table table-striped table-condensed table-hover">
<thead>
  <tr>
    <th>Nombre</th>
    <th>Idioma Nativo</th>
    <th>Idioma Foraneo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 </thead>
 <tbody>
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.nombre %></td>
      <td><%= list.idiomaNativo %></td>
      <td><%= list.idiomaForaneo %></td>
      <td><%= link_to 'Ver', list_path(list), class: "btn btn-info btn-mini" %></td>
      <td><%= link_to 'Editar', edit_list_path(list), class: "btn btn-mini"  %></td>
      <td><%= link_to 'Borrar', list_path(list), class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Pulsa OK para confirmar el borrado de la lista' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
</center>

<p>
<%= button_to 'Lista Nueva', new_list_path, class: "btn btn-warning", style: "margin-left:45%",  :method => :get %>
</p>
</div>