<p>
  <strong>Title:</strong>
  <%= @list.nombre %>
</p>

<p>
  <strong>Text:</strong>
  <%= @list.idiomaNativo %>
</p>

<p>
  <strong>Text:</strong>
  <%= @list.idiomaForaneo %>
</p>

<h2>Filas:</h2>
  <p>
    <table id="filas" class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Palabra</th>
          <th>Significado</th>
          <th>Imagen</th>
          <th>Audio</th>
          <th>Sinonimos</th>
          <th>Antonimos</th>
        </tr>
      </thead>
      <tbody>
        <% @list.filas.each do |fila| %>
        <tr>
          <td><a href="#" id="palabra<%= fila.id %>" data-type="text" data-resource="fila" data-name="palabra" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.palabra %></a></td>
          <td><a href="#" id="significado<%= fila.id %>" data-type="text" data-resource="fila" data-name="significado" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.significado %></a></td>
          <td><a href="#" id="imagen<%= fila.id %>" data-type="text" data-resource="fila" data-name="imagen" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.imagen %></a></td>
          <td><a href="#" id="audio<%= fila.id %>" data-type="text" data-resource="fila" data-name="audio" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.audio %></a></td>
          <td><a href="#" id="sinonimos<%= fila.id %>" data-type="text" data-resource="fila" data-name="sinonimos" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.sinonimos %></a></td>
          <td><a href="#" id="antonimos<%= fila.id %>" data-type="text" data-resource="fila" data-name="antonimos" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.antonimos %></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </p>

<h2>Agregar una fila:</h2>
<%= form_for([@list, @list.filas.build]) do |f| %>
  <p>
    <%= f.label :palabra %><br />
    <%= f.text_field :palabra %>
  </p>
  <p>
    <%= f.label :significado %><br />
    <%= f.text_area :significado %>
  </p>
  <p>
    <%= f.label :imagen %><br />
    <%= f.text_area :imagen %>
  </p>
  <p>
    <%= f.label :audio %><br />
    <%= f.text_area :audio %>
  </p>
  <p>
    <%= f.label :sinonimos %><br />
    <%= f.text_area :sinonimos %>
  </p>
  <p>
    <%= f.label :antonimos %><br />
    <%= f.text_area :antonimos %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
