<p>
  <h3>Nombre de lista:</h3>
  <h4><%= @list.nombre %></h4>
</p>

<p>
  <h3>Idioma Nativo:</h3>
  <h4><%= @list.idiomaNativo %></h4>
</p>

<p>
  <h3>Idioma Foraneo:</h3>
  <h4><%= @list.idiomaForaneo %></h4>
</p>

<h2>Filas:</h2>
  <p><center>
    <table id="filas" class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th>Palabra</th>
          <th>Significado</th>
          <th>Imagen</th>
          <th>Audio</th>
          <th>Sinonimos</th>
          <th>Antonimos</th>
	  <th />
        </tr>
      </thead>
      <tbody>
        <% @list.filas.each do |fila| %>
        <tr>
          <td><a href="#" class="editable1" id="palabra<%= fila.id %>" data-type="text" data-resource="fila" data-name="palabra" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.palabra %></a></td>
          <td><a href="#" class="editable1" id="significado<%= fila.id %>" data-type="text" data-resource="fila" data-name="significado" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.significado %></a></td>
          <td><a href="#" class="editable1" id="imagen<%= fila.id %>" data-type="text" data-resource="fila" data-name="imagen" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.imagen %></a></td>
          <td><a href="#" class="editable1" id="audio<%= fila.id %>" data-type="text" data-resource="fila" data-name="audio" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.audio %></a></td>
          <td><a href="#" class="editable1" id="sinonimos<%= fila.id %>" data-type="text" data-resource="fila" data-name="sinonimos" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.sinonimos %></a></td>
          <td><a href="#" class="editable1" id="antonimos<%= fila.id %>" data-type="text" data-resource="fila" data-name="antonimos" data-pk="<%= fila.id %>" data-url="/lists/<%= fila.list.id %>/filas/<%= fila.id %>.json"><%= fila.antonimos %></a></td>
	  <td><%= link_to 'Delete', [fila.list, fila], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table></center>
  </p>

<h2>Agregar una fila:</h2>
<%= form_for([@list, @list.filas.build]) do |f| %>
  <p>
  <center><table id="filas2">
  <tr>
  <td>
    <%= f.label :palabra %><br />
    <%= f.text_field :palabra %>
  </td>
  <td>
    <%= f.label :significado %><br />
    <%= f.text_field :significado %>
  </td>
  <td>
    <%= f.label :imagen %><br />
    <%= f.text_field :imagen %>
  </td>
  </tr>
  <tr>
  <td>
    <%= f.label :audio %><br />
    <%= f.text_field :audio %>
  </td>
  <td>
    <%= f.label :sinonimos %><br />
    <%= f.text_field :sinonimos %>
  </td>
  <td>
    <%= f.label :antonimos %><br />
    <%= f.text_field :antonimos %>
  </td>
  </tr>
  </table>
  <%= f.submit %>
  </center>
<% end %>
