    <div class="navbar navbar-fixed-top" id="nav-bar">
      <div class="navbar-inner">
        <a class="brand" href="#"> <i class="icon icon-bolt"></i> Sistema de Auto Aprendizaje de Idiomas</a>
        <ul class="nav pull-right">
          <li>
            <a href="/users/sign_in">Si ya estas registrado, clickea aca!</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container" id="hero-container">
      <h1 class="heading" id="title">Aprende nuevos idiomas</h1>
      <h2 class="heading" id="subtitle">Juga, arma y comparti tu propio listado de palabras o ejercita con otros participantes</h2>
    </div>
    <div class="container">
      <div class="row-fluid" id="signup-form-container">
        <span class="span6 offset3">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => "signup-form"}) do |f| %>
  <%= devise_error_messages! %>
           <%= f.label :email, "E-mail", :class => "sinbreak" %>
  <%= f.email_field :email, :placeholder => "juan.perez@gmail.com", :autofocus => true %><br />
           <%= f.label :nombre, :class => "sinbreak" %>
  <%= f.text_field :nombre, :placeholder => "Juan" %><br />
<%= f.label :apellido, :class => "sinbreak" %>
  <%= f.text_field :apellido, :placeholder => "Pérez" %><br />
<%= f.label :idiomasNativos, "Idioma Nativo" , :class => "sinbreak" %>
  <%= f.text_field :idiomasNativos, :placeholder => "Español" %><br />
<%= f.label :idiomasAAprender, "Idioma a Aprender", :class => "sinbreak" %>
  <%= f.text_field :idiomasAAprender, :placeholder => "Inglés" %><br />
  <%= f.label :password, :class => "sinbreak" %>
  <%= f.password_field :password, :placeholder => "********" %><br />
  <%= f.label :password_confirmation, :class => "sinbreak" %>
  <%= f.password_field :password_confirmation, :placeholder => "********" %><br />
<%= f.submit "Sign up", :class => "btn btn-primary" %></div>
<% end %>
        </span>
      </div>
    </div>
<center><%= render "devise/shared/links" %>  </center>
