        <table class="table table-striped table-bordered table-bordered-3">
          <thead>
            <tr>
              <th class="th-1">Tus Puntos Publicos</th>
              <th>Tus Puntos Privados</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= current_user.puntosPublicos %></td>
              <td><%= current_user.puntosPrivados %></td>
            </tr>
          </tbody>
        </table>
        <div class="rectangle rectangle-1 rectangle-5">
          <h3 class="heading heading-1">Rankings</h3>
          <h4 class="heading heading-2">Puntos Públicos</h4>
          <h4 class="heading heading-3">Mas Listas Creadas</h4>
          <h4 class="heading heading-4">Puntos Privados</h4>
          <table class="table table-striped table-bordered table-bordered-1 table-bordered-2 table-bordered-4">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <% @usersPuntosPublicos.each do |user| %>
                <tr>
            	  <td><%= user.nombre %></td>
            	  <td><%= user.puntosPublicos %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <table class="table table-striped table-bordered table-bordered-2 table-bordered-5">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <% @usersPuntosPrivados.each do |user| %>
                <tr>
            	  <td><%= user.nombre %></td>
            	  <td><%= user.puntosPrivados %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <table class="table table-striped table-bordered table-bordered-1 table-bordered-2 table-bordered-6">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <% @usersLists.each do |user| %>
                <tr>
            	  <td><%= user.nombre %></td>
            	  <td><%= user.count_lists %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>