<div class="divpadding">
<h1 class="titulo">Perfil</h1>
<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %><%= @user.apellido %>
</p>
 
<p>
  <strong>Idiomas Nativos:</strong>
  <%= @user.idiomasNativos %>
</p>

<p>
  <strong>Idiomas a aprender:</strong>
  <%= @user.idiomasAAprender %>
</p>

<p>
  <strong>Foto:</strong>
  <img src="<%= @user.foto %>"</ img>
</p>

  <li>
  <%= link_to "Editar perfil", edit_user_registration_path %>
  </li>
</div>