<head>
	<%= stylesheet_link_tag    "actividades", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "actividades", "data-turbolinks-track" => true %>
</head>

<div class="divpadding">
	<%= link_to "<-- Regresar", "/", :class => "btn btn-mini" %>
	<p>
		<h1 class="titulo">Actividades</h1>
		<div>
			<ol>
				<a class="vinculo" id="properli"/><li>Pronombres personales</li></a>
				<a class="vinculo" id="proposli"><li>Pronombres posesivos</li></a>
				<a class="vinculo" id="prodemli"><li>Pronombres demostrativos</li></a>
				<a class="vinculo" id="tabproli"><li>Tabla de pronombres</li></a>
				<li><%= link_to "Ver videos", "actividades/videolist" %></li>
				<!-- Basado en: http://www.curso-ingles.com/gramatica-inglesa/pronombres-personales.php -->
			</ol>
		</div>
		<div id="partials">
			<%= render "prodem" %>
			<%= render "proper" %>
			<%= render "propos" %>
			<%= render "proref" %>
			<%= render "tabpro" %>
		</div>
	</p>
</div>