<!DOCTYPE html>
<html>
<head>
  <title>Saai2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-responsive", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "common", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "fontawesome", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "project", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "landing-page-tour", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-editable", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice1"><%= notice %></p>
<p class="alert1"><%= alert %></p>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<div id="page-wrapper">
  <div id="absolute-wrapper">
    <div class="rectangle rectangle-1 rectangle-2 rectangle-3">
      <h1 class="heading">Sistema de Auto Aprendizaje de Idiomas</h1>
    </div>
    <div class="rectangle rectangle-2 rectangle-4">
      <img src="images/black_invert_30x40.png" class="image">
    </div>

    <%= yield %>

  </div>
</div>

</body>
</html>
