<!DOCTYPE html>
<html>
<head>
  <title>Saai2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-responsive", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "common", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "fontawesome", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "project", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "landing-page-tour", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-editable", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice1"><%= notice %></p>
<p class="alert1"><%= alert %></p>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  <li>
  <%= link_to "Editar perfil", edit_user_registration_path %>
  </li>
  <li>
  <%= link_to "Ver perfil", user_path(current_user) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<%= yield %>

</body>
</html>
